body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.side { width: 100px;}

.table-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.time-table {
  width: auto;
  overflow-x: scroll;
}

td {
  border: none;
  padding: 10px;
  background-color: #EAEAEA;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

fieldset {
  display: table-cell;
  border: none;
}

.schedule-container {
  max-width: inherit;
  padding-top: 50px;
}

.schedule-select {
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: .75rem .75rem;
  font-size: 12px;
}

.toggle {
  box-sizing: border-box;
  display: flex; 
  flex-flow: row nowrap;
  justify-content: flex-start; 
  align-items: stretch;
  border-radius: 8px;
  text-transform: uppercase;

  input {
    width: 0; 
    height: 0;
    position: absolute; 
    left: -9999px;
  }

  input + label {
    font-size: 12px;
    font-weight: 400;
    width: 190px;
    margin: 0; 
    padding: .75rem 2rem;
    box-sizing: border-box;
    position: relative; 
    display: inline-block;
    border: solid 1px #DDD; 
    background-color: #FFF;
    box-shadow: 0 0 0 rgba(255,255,255,0);
    transition: border-color .15s ease-out, 
    color .25s ease-out, background-color .15s ease-out, box-shadow .15s ease-out;
    &:first-of-type {border-radius: 6px 0 0 6px; border-right: none;}
    &:last-of-type {border-radius: 0 6px 6px 0; border-left: none;}
    text-align: center;
  }
}

input:hover + label {border-color: navy;}
input:checked + label {
  background-color: #66B3FB;
  color: #FFF;
  box-shadow: 0 0 10px rgba(#66B3FB, .5);
  border-color: #4B9DEA;
  z-index: 1;
}

.nav {
  background-color: #66B3FB;
  padding: 10px;
}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navItem {
  margin-right: 15px;
}

.navLink {
  color: #fff;
  text-decoration: none;
}

.route-title {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.side-bar {
  margin: 0 10px 0 10px;
  width: 20vw;
  display: flex;
}

.direction-toggle {
  display: flex;
  justify-content: center;
  width: inherit;
  padding-top: 12px;
}

.dropdown { position: relative; width: 400px; margin-left: 10px; }

.dropdown-menu {
  margin-left: 5px;
  position: absolute;
  width: 100%;
  border: 1px solid #ccc;
  max-height: 250px;
  overflow-y: auto;
  background: white;
  z-index: 100;
  padding-left: 0;
}

.dropdown-menu li {
  list-style: none;
  padding: 5px;
  margin: 0;
  cursor: pointer;
}

.dropdown-menu li:hover { background-color: #eee;
}

.dropdown input {
  text-transform: uppercase;
  padding: 0px 2px 0px 10px;
  width: 400px;
  margin: 12px 0px 0px 5px;
  background-color: #EAEAEA;
  border: solid 1px #DDD; 
  border-radius: 4px;
  height: 47px
}

.direction-toggle-label {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  margin-left: 20px;
  width: 110px;
  text-transform: uppercase;
}

.stop-column td {
  background-color: #dcdcdc;
}

.time-table tr[data-id="0"] td {
  background-color: #d8ffcf;
}

.direction-toggle-container {
  display: flex;
  margin-left: 20px;
}